<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.grid-container1 {
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
</style>



<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "dark1", // "light1", "light2", "dark1", "dark2"
	title:{
		text: "Number of Games Per Genre"
	},
	axisY: {
		title: "Count of _id"
	},
	data: [{
		type: "column",
		showInLegend: true,
		legendMarkerColor: "grey",
		legendText: "Row Labels",
		dataPoints: [
			{ y: 268, label: "Shooter" },
			{ y: 234,  label: "Action" },
			{ y: 87,  label: "Adventure" },
			{ y: 72,  label: "Sports" },
			{ y: 65,  label: "Racing" },
			{ y: 64, label: "Party" },
			{ y: 42,  label: "Puzzle" },
			{ y: 36,  label: "Classics" },
			{ y: 29, label: "Board Game" },
			{ y: 25,  label: "Platformer" },
			{ y: 24,  label: "Strategy" },
			{ y: 22,  label: "Role Playing" },
			{ y: 13,  label: "Simulation" },
			{ y: 5, label: "Family & Educational" },
			{ y: 4,  label: "MMO" },
			{ y: 1,  label: "Fantasy" },
			{ y: 1,  label: "Open World" }
		]
	}]
});
chart.render();



    var sales = new CanvasJS.Chart("salesContainer", {
	animationEnabled: true,
	theme: "dark1", // "light1", "light2", "dark1", "dark2"
	title:{
		text: "Total Sales in $ per Game Genre"
	},
	axisY: {
		title: "Sum of Total Sales in $"
	},
	data: [{
		type: "column",
		showInLegend: true,
		legendMarkerColor: "grey",
		legendText: "Row Labels",
		dataPoints: [
			{ y: 448581893.3, label: "Shooter" },
			{ y: 414311257.2,  label: "Action" },
			{ y: 164940918.5,  label: "Adventure" },
			{ y: 114086229.2,  label: "Sports" },
			{ y: 104081822.6, label: "Party" },
			{ y: 100062218.7,  label: "Racing" },
			{ y: 62230021.29,  label: "Classics" },
			{ y: 57969736.43,  label: "Puzzle" },
			{ y: 49676249.66,  label: "Platformer" },
			{ y: 39348385.42, label: "Board Game" },
			{ y: 35562477.72,  label: "Strategy" },
			{ y: 32069020.96,  label: "Role Playing" },
			{ y: 21849393.73,  label: "Simulation" },
			{ y: 15087825.16, label: "Family & Educational" },
			{ y: 3733622.67,  label: "MMO" },
			{ y: 339371.2,  label: "Open World" },
			{ y: 142854.84,  label: "Fantasy" }

		]
	}]
});
sales.render();

var NARegion = new CanvasJS.Chart("NARegionContainer", {
	animationEnabled: true,
	title: {
		text: "NA Region - Number of Games Released"
	},
	data: [{
		type: "pie",
		startAngle: 240,
		yValueFormatString: "##0.00\"%\"",
		indexLabel: "{label} {y}",
		dataPoints: [
			{y: 94.05, label: "Released"},
			{y: 5.95, label: "Unreleased"}
		]
	}]
});
NARegion.render();

var EURegion = new CanvasJS.Chart("EURegionContainer", {
	animationEnabled: true,
	title: {
		text: "EU Region - Number of Games Released"
	},
	data: [{
		type: "pie",
		startAngle: 240,
		yValueFormatString: "##0.00\"%\"",
		indexLabel: "{label} {y}",
		dataPoints: [
			{y: 58.17, label: "Released"},
			{y: 41.83, label: "Unreleased"}
		]
	}]
});
EURegion.render();

var JPRegion = new CanvasJS.Chart("JPRegionContainer", {
	animationEnabled: true,
	title: {
		text: "JP Region - Number of Games Released"
	},
	data: [{
		type: "pie",
		startAngle: 240,
		yValueFormatString: "##0.00\"%\"",
		indexLabel: "{label} {y}",
		dataPoints: [
			{y: 30.74, label: "Released"},
			{y: 69.26, label: "Unreleased"}
		]
	}]
});
JPRegion.render();

var AURegion = new CanvasJS.Chart("AURegionContainer", {
	animationEnabled: true,
	title: {
		text: "AU Region - Number of Games Released"
	},
	data: [{
		type: "pie",
		startAngle: 240,
		yValueFormatString: "##0.00\"%\"",
		indexLabel: "{label} {y}",
		dataPoints: [
			{y: 54.43, label: "Released"},
			{y: 45.57, label: "Unreleased"}
		]
	}]
});
AURegion.render();



  var gameSupported = new CanvasJS.Chart("gameSupportedContainer", {
	animationEnabled: true,
	theme: "dark1", // "light1", "light2", "dark1", "dark2"
	title:{
		text: "Games Supported In Xbox One"
	},
	axisY: {
		title: "Count of _id"
	},
	data: [{
		type: "column",
		showInLegend: true,
		legendMarkerColor: "grey",
		legendText: "Row Labels",
		dataPoints: [
			{ y: 677, label: "Not Supported" },
			{ y: 315,  label: "Supported" }
		]
	}]
});
gameSupported.render();

}
</script>

</head>
<body style="background-color:#2A2A2A;">

<div>
     <br/>
        <center>
             <hr style="color:green;width:90%;">
                <h1 style="color:green;font-size:50px;">XBOX 360 Sales Analysis Dashboard</h1>
            <hr style="color:green;width:90%;">
        </center>
    <br/>
</div>




<div class="grid-container1">
    <div id="salesContainer" style="height: 500px; width: 100%;"></div>
    <div style="height: 500px; width: 100%;font-size:25px;">
        <br/>
        <br/>
        <ul>
            <li style="color:red;">
                Highest Followed game
            </li>
            <ul>
                <li style="color:white;">
                     Fatal Fury Special
                </li>
            </ul>
            <br/>
            <li style="color:red;">
                Highest Game with sales
            </li>
             <ul>
                <li style="color:white;">
                     Go! Go! Break Steady with collection of $  5890298.12
                </li>
            </ul>
        </ul>
    </div>
</div>

<div class="grid-container">
  <div class="grid-item">
      <div id="NARegionContainer" style="height: 300px; width: 100%;"></div>
  </div>
  <div class="grid-item">
      <div id="JPRegionContainer" style="height: 300px; width: 100%;"></div>
  </div>
  <div class="grid-item">
      <div id="AURegionContainer" style="height: 300px; width: 100%;"></div>
  </div>
  <div class="grid-item">
      <div id="EURegionContainer" style="height: 300px; width: 100%;"></div>
  </div>
</div>

<div class="grid-container">
    <div id="chartContainer" style="height: 500px; width: 100%;"></div>
    <div id="gameSupportedContainer" style="height: 500px; width: 100%;"></div>
</div>


<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>